body {
    padding: 0;
    margin: 0;
}
.main_title {
    color:#DE0202;
    background-color: darkkhaki;
    position: fixed;
    z-index: 2;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    width: 100%;
}
.underline {
    text-decoration: underline;
}
#first-block {
    color: #DE0202;
    background-color: aquamarine;
    position: relative;
    margin-top: 80px;
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#second-block {
    background-color:mediumturquoise;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.pict {
    float: right;
}
.clear-float {
    clear: both;
}
#third-block {
    position: relative;
    top: 10px;
    left: 100px;
    width: 600px;
    float: left;
}
.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}
#sq_1 {
    background-color: red;
    border: 2px black solid;                        
}
#sq_2 {
    background-color: orange;
    border: 2px grey solid; 
}
#sq_3 {
    background-color: green;
    border: 2px solid; 
    border-bottom-color: #DE0202;
    border-radius: 50%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
a:visited {
    color: green;
}
