#box {
    border: 2px solid black;
    width: 1000px;
    height: 600px;
}

#result-steps {
    color: purple;
    font-size: 20px;
}

#result-min {
    color: green;
    font-size: 20px;
}

#result-мax {
    color: red;
    font-size: 20px;
}