body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#top-bar {
    width: 1100px;
    height: 40px;
    margin: 0 auto;
}

#logo {
    width: 84px;
    height: 20px;
    padding: 10px;
    float: left;
}

.top-bar-section {
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
}

#signin-img {
    width: 30px;
    margin: 8px 10px;
    float: left;
    padding-right: 10px;
}

#but_1st_Sign-in {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 10px;
    float: left;
    padding-right: 50px;
}

#border-line-img {
    position: relative;
    top: 1px;
    height: 36px;
    margin: 0;
}

#bell {
    height: 20px;
    margin: 0;
    padding: 5px 15px 10px 5px;
}

#bell-div {
    float: left;
    margin: 0;
}

#signin-div:hover {
    box-shadow: 0px -3px 0 #1188BB inset;
}

#bell-div:hover {
    box-shadow: 0px -3px 0 black inset;
}

.top-bar-menu {
    font-weight: bold;
    font-size: 90%;
    height: 10px;
    padding: 15px 15px;
}

#but_1st_news:hover {
    box-shadow: 0px -3px 0 #992211 inset;
}

#but_1st_sport:hover {
    box-shadow: 0px -3px 0 #FFEE11 inset;
}

#but_1st_weather:hover {
    box-shadow: 0px -3px 0 #88CCEE inset;
}

#but_1st_iplayer:hover {
    box-shadow: 0px -3px 0 #ED3D7D inset;
}

#but_1st_TV:hover {
    box-shadow: 0px -3px 0 black inset;
}

#but_1st_radio:hover {
    box-shadow: 0px -3px 0 black inset;
}

#but_1st_more:hover {
    box-shadow: 0px -3px 0 black inset;
}

#serch-box {
    background-color: #A9A9A9;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
    margin: 5px 0px 5px 5px;
    float: left;
}

#serch-img {
    height: 30px;
    padding: 5px 0px;
}

.clear-float {
    clear: both;
}

.red-line {
    border-top: 1px #cccccc solid; 
    background-color: #BB1919;
    margin: 0;
    height: 60px;
}

#red-line-news {
    height: 60px;
    width: 1100px;
    margin: 0 auto;
}

.but-find-local-news {
    background-color: #BB1919;
    color: white;
    border: 1px gainsboro solid;
    width: 160px;
    height: 40px;
    position: relative;
    left: 800px;
    top: -50px;
}
.but-find-local-news:hover {
    text-decoration-line: underline;
}

.icon-dot {
    background-image:url("../img/Dot-on-map.png");
    background-repeat: no-repeat;
    padding-left : 20px;
    padding-top : 5px;
}

#darck-red-line-list {
    background-color: #A91717;
    margin: 0;
}

.darck-red-line {
    background-color: #A91717;
    width: 1100px;
    height: 30px;
    margin: 0 auto;
}

.darck-line-button {
    background-color: #A91717;
    color: white;
    border: 0;
    padding: 5px;
}

.darck-line-button:nth-child(-n+10) {
    border-right: 1px solid whitesmoke;
}

.darck-line-button:hover {
    box-shadow: 0px 5px 0 white;
}

#tech {
    border-bottom: 2px #A91717 solid;
    width: 120px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.first-news {
    margin-left: 10px;
}

#first-link {
    font-size: 200%;
}

.text-news {
    float: left;
    width: 240px;
}

.img-news {
    float: left;
    width: 320px;
}