.book-title {
    margin: 0 auto;
    text-align: center;
}

.slide .slide-text,
.slide [type="checkbox"] {
    display: none;
}

.slide [type="checkbox"]:checked~.slide-text {
    display: block;
}

.table-en-ru {
    width: 48%;
}

.table-w-20per {
    width: 20%;
}

.table-w-30per {
    width: 30%;
}

table {
    border: 3px inset #b57ee9;
}

table td {
    vertical-align: top;
    border: 1px solid #b57ee9;
    margin: 0 auto;
}

.table-td-cen td {
    text-align: center;
}

.border-none {
    border: none;
}

.border-none td {
    border: none;
}

.border-none a {
    text-decoration: none;
    color: black;
}

.border-none a:hover {
    text-decoration: underline;
}

.table-td-left td {
    text-align: left;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.ul-no-mark {
    list-style-type: none;
}

.font-bold {
    color: black;
    font-weight: bold;
}

.remember {
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    width: 300px;
    background-color: silver;
}

.cpp_code {
    font-style: italic;
    margin-left: 3%;
}

.cpp_code_1t {
    font-style: italic;
    margin: 3px 6%;
}

.cpp_code_2t {
    font-style: italic;
    margin: 3px 9%;
}

.cpp_code_3t {
    font-style: italic;
    margin: 3px 12%;
}

.cpp_code_4t {
    font-style: italic;
    margin: 3px 15%;
}

.cpp_code_5t {
    font-style: italic;
    margin: 3px 20%;
}

.img-center {
    display: block;
    margin: auto;
}

.ex-span-b {
    font-weight: bolder;
}