.book-title {
    margin: 0 auto;
    text-align: center;
}

.slide .slide-text,
.slide [type="checkbox"] {
    display: none;
}

.slide [type="checkbox"]:checked~.slide-text {
    display: block;
}

.table-en-ru {
    width: 48%;
}

table td {
    vertical-align: top;
    text-align: left;
}