body {
    position: relative;
    /*padding-top: 50px;*/
}

#home {
    background-image: url(../img/home-background.jpg);
    color: aliceblue;
}

#text-abaut {
    margin: 0 auto;
}

.img-card-title {
    float: left;
    padding: 7px 5px 0px 0px;
}

#download {
    background-color: aquamarine;
}