body {
    position: relative;
}

#home {
    background-image: url(../img/home-background.jpg);
    color: aliceblue;
    text-align: center;
}

#text-abaut {
    margin: 0 auto;
}

.img-card-title {
    float: left;
    padding: 7px 5px 0px 0px;
}

#download {
    background-color: aquamarine;
    text-align: center;
}

#about {
    padding: 50px 10px;
}

.form-inline {
    margin: auto;
}