@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
    url('../fonts/MullerHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
    url('../fonts/MullerThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
    url('../fonts/MullerBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
    url('../fonts/MullerExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Muller, Arial, Verdana, sans-serif;
  width: 1170px;
  background-color: #f1f1f1;
  margin: auto;
}

main {
  width: 100%;
}

header {
  margin-top: 5px;
  width: 100%;
}

div {
  border-radius: 15px;
}

h1 {
  font-family: Muller;
  font-weight: 400;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 70px;
}

.header-div {
  position: relative;
}

.tel-link {
  width: 165px;
  height: 35px;
  border: none;
  margin-left: 30px;
  position: relative;
  top: -10px;
  background-position: left center;
  background-repeat: no-repeat;

  background-image: url("../img/tel-button.png");
}

.tel-link:hover {
  background-image: url("../img/tel-button-hover.png");
}

.tel-link:active {
  background-image: url("../img/tel-button-active.png");
}

.tel-link:focus {
  background-image: url("../img/tel-button-focus.png");
}

.personal-link {
  width: 155px;
  height: 40px;
  border: none;
  position: absolute;
  top: 10px;
  right: 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../img/personal-button.png");
}

.personal-link:hover {
  background-image: url("../img/personal-button-hover.png");
}

.personal-link:active {
  background-image: url("../img/personal-button-active.png");
}

.personal-link:focus {
  background-image: url("../img/personal-button-focus.png");
}

.button-div {
  display: inline-block;
  margin-right: 25px;
}

.button {
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: white;
  color: #cc9933;
  font-size: 16px;
  padding: 13px 20px !important;
}

.button:hover {
  background-color: #cc9933;
  color: white;
}

.button:focus {
  background-color: #cc9933;
  color: white;
}

.button:active {
  background-color: #a47312;
  color: white;
}

.menu {
  background-color: white;
  width: 100%;
  margin: 10px 0;
  text-align: right;
}

.menu ul {
  padding: 0 100px 0 10px;
  width: 70%;
  display: inline;
}

.menu li {
  display: inline;
  padding: 25px 15px;
}

.menu button {
  display: inline-block;
  margin: 10px 20px;
}

.tel-link {
  display: inline-block;
  width: 35%;
}

.link {
  font-family: "Muller";
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: none;
}

.link:hover {
  color: #cc9933;
  border: none;
  border: none;
}

.link:focus {
  border: 1px solid #cc9933;
  border-radius: 0;
}

.link:active {
  color: #a47312;
  font-weight: bold;
  border: none;
}

.tours-div-content {
  padding: 40px 45px;
}

.tours-div-content h3 {
  font-style: Muller;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 0;
}

.tours-div-content p {
  font-style: Muller;
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

.tours-1-div {
  background-image: url("../img/tours-1.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 258px;
  width: 573px;
  margin-right: 15px;
}

.tours-2-div {
  background-image: url("../img/tours-2.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 258px;
  width: 573px;
  margin-top: 25px;
  margin-right: 15px;
}

.lux-room-div {
  background-image: url("../img/lux-room.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 540px;
  width: 573px;
  display: inline-block;
}

.lux-room-content {
  padding: 170px 45px;
}

.lux-room-content h3 {
  font-style: Muller;
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin: 0;
}

.lux-room-content p {
  font-style: Muller;
  font-weight: 400;
  font-size: 30px;
  color: white;
  margin-top: 5px;

}

.details-link {
  width: 105px;
  height: 16px;
  border: none;
}

.special {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
}

.tours-special {
  display: inline-block;
  vertical-align: top;
}

.about-us {
  width: 888px;
  line-height: 32px;
  font-weight: 400;
  font-size: 16px;
}

.services-box-img-1 {
  background-image: url("../img/services-img-1.jpg");
}

.services-box-img-2 {
  background-image: url("../img/services-img-2.jpg");
}

.services-box-img-3 {
  background-image: url("../img/services-img-3.jpg");
}

.services-box-img-4 {
  background-image: url("../img/services-img-4.jpg");
}

.services-box {
  display: inline-block;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  width: 573px;
  height: 330px;
  vertical-align: top;
  background-color: white;
}

.service-box-content {
  margin: 180px 10px 10px 30px;
  width: 402px;
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.service-box-content p {
  margin: 0;
}

.advantages {
  width: 276px;
  height: 276px;
  display: inline-block;
  background-color: white;
  vertical-align: top;
}

.advantages:not(:nth-last-child(-n+4)) {
  margin-bottom: 10px;
}

.advantages:not(:nth-child(4n+1)) {
  margin-right: 10px;
}

.advantages img {
  padding-top: 50px;
  padding-left: 50px;
}

.advantages p {
  width: 190px;
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 50px;
}

.accomodation-box {
  display: inline-block;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  width: 374px;
  height: 440px;
  vertical-align: top;
  background-color: white;
}

.accomodation-box:not(:nth-child(3n+1)) {
  margin-right: 20px;
}

.accomodation-box:not(:nth-last-child(2)) {
  margin-bottom: 20px;
}

.accomodation-box-content {
  margin-top: 240px;
  margin-left: 40px;
  position: relative;
}

.accomodation-box-img-1 {
  background-image: url("../img/accomodation-img-1.jpg");
}

.accomodation-box-img-2 {
  background-image: url("../img/accomodation-img-2.jpg");
}

.accomodation-box-img-3 {
  background-image: url("../img/accomodation-img-3.jpg");
}

.accomodation-box-img-4 {
  background-image: url("../img/accomodation-img-4.jpg");
}

.accomodation-box-img-5 {
  background-image: url("../img/accomodation-img-5.jpg");
}

.accomodation-box-img-6 {
  background-image: url("../img/accomodation-img-6.jpg");
}

.accomodation-box-img-7 {
  background-image: url("../img/accomodation-img-7.jpg");
}

.accomodation-box-img-8 {
  background-image: url("../img/accomodation-img-8.jpg");
}

.accomodation-box-img-9 {
  background-image: url("../img/accomodation-img-9.jpg");
  display: inline-block;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  width: 374px;
  height: 440px;
  vertical-align: top;
}

.accomodation p {
  display: block;
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.location {
  color: #999999;
}

.first-str {
  position: relative;
  width: 85%;
}

.stars {
  display: inline-block;
  position: absolute;
  right: 0;
}

.all-variants-link {
  display: block;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 50px;
}

.div-want-tour {
  background-color: #e9e9e9;
  width: 100%;
  height: 256px;
}

.div-want-tour h1 {
  padding-top: 30px;
}

.search-tour {
  background-color: white;
  width: 93%;
  height: 106px;
  margin: auto 40px;
}

.search-tour label {
  font-family: 'Muller';
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  display: block;
}

.search-tour select,input {
  font-family: 'Muller';
  font-size: 16px;
  border: none;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.search-tour button {
  width: 108px;
  margin-left: 45px;
  margin-top: 30px;
  vertical-align: top;
}

.search-tour-div option {
  padding-left: 0;
}

.search-tour-div {
  display: inline-block;
  margin: 30px 10px;
}

.search-tour-div:nth-child(n+1) {
  margin-left: 25px;
}

.search-tour-div:nth-child(-n+2) {
  width: 169px;
}

.search-tour-div:not(:nth-child(-n+2)) {
  width: 121px;
}

.imput-search {
  border-bottom: 1px solid #e9e9e9;
}

.contacts {
  background-color: white;
  width: 100%;
  height: 618px;
  position: relative;
  margin-bottom: 45px;
}

.contacts-data {
  display: inline-block;
  margin: 45px;
  width: 375px;
  vertical-align: top;
}

.contacts-data tr:nth-child(n+2) td {
  padding-top: 18px;
}

.contacts-data td {
  border-bottom: 1px solid #e9e9e9;
}

.contacts-data td {
  padding-bottom: 18px;
}

.contacts-data p {
  color: #999999;
  margin: 5px 0;
}

.contacts-data td:nth-child(2n) {
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 45px;
}

.contacts-data td:not(:nth-child(2n)) {
  font-family: 'Muller';
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.contacts-data button {
  width: 213px;
  height: 70px;
  margin-top: 45px;
}

.contacts-photo {
  display: inline-block;
  margin: 45px 45px 45px 0;
}

.info {
  background-color: #333333;
  width: 100%;
  height: 341px;
  position: relative;
}

.info p {
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 25px;
}

.info-div-1 {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin: 45px;
}

.info-div-2 {
  display: inline-block;
  width: 360px;
  vertical-align: top;
  margin-left: 130px;
  margin-top: 45px;
}


.info-tel {
  position: relative;
  display: block;
}

.info-mail {
  position: relative;
  display: block;
  margin-top: 20px;
}

.info-link {
  float: left;
  clear: left;
  color: #cc9933;
  font-family: 'Muller';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.info-div-3 {
  width: 30px;
  position: absolute;
  right: 50px;
  top: 50px;
}

.info-button {
  width: 27px;
  height: 27px;
  background-color: #333333;
  border: none;
  position: relative;
  top: 10px;
  right: 0;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.button-eyes {
  background-image: url("../img/eyes.png");
}

.button-eyes:hover {
  background-image: url("../img/eyes-hover.png");
}

.button-eyes:focus {
  background-image: url("../img/eyes-focus.png");
}

.button-eyes:active {
  background-image: url("../img/eyes-active.png");
}

.button-ok {
  background-image: url("../img/ok.png");
}

.button-vk {
  background-image: url("../img/vk.png");
}

.sun {
  position: absolute;
  display: block;
  left: 740px;
  bottom: 0;
}
