html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Verdana, sans-serif;
  width: 1170px;
  background-color: #f1f1f1;
}

main {
  width: 100%;
}

.button-menu {
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: white;
  color: #cc9933;
  font-size: 16px;
}

.tours-1-div {
  background-image: url("../img/tours-1.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 258px;
  width: 573px;
}

.tours-2-div {
  background-image: url("../img/tours-2.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 258px;
  width: 573px;
}

.lux-room-div {
  background-image: url("../img/lux-room.jpg");
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  height: 540px;
  width: 573px;
}

.border-radius-img {
  border-radius: 15px;
}

.details-link {
  background-image: url("../img/details.svg");
  width: 105px;
  height: 16px;
  border: none;
}

.special {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.tours-special {
  display: block;
}

.services-box-img-1 {
  background-image: url("../img/services-img-1.jpg");
}

.services-box-img-2 {
  background-image: url("../img/services-img-2.jpg");
}

.services-box-img-3 {
  background-image: url("../img/services-img-3.jpg");
}

.services-box-img-4 {
  background-image: url("../img/services-img-4.jpg");
}

.services-box {
  display: inline-block;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  width: 573px;
  height: 330px;
  vertical-align: top;
  background-color: white;
  border-radius: 15px;
}
