html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Verdana, sans-serif;
  ;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0 0 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.links a {
  display: inline-block;
  padding: 24px 49px;
}

.links a:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.container p {
  margin: 0 0 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

figure {
  display: inline-block;
  margin: 0 0 40px;
  width: 872px;
  font-size: 0;
}

figure figcaption {
  border: 1px solid #b6b6b6;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.main-header {
  margin: 0 0 40px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #333;
}

.grey-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}

.grey-block:not(:last-child) {
  margin-bottom: 40px;
}

.grey-block p {
  margin-bottom: 10px;
  width: 692px;
}

h3 {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.ul_container ul {
  padding-left: 15px;
}

.ul_container a {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  padding-right: 2px;
  color: #3f2aff;
}

.ul_container li:not(:last-child) {
  margin-bottom: 20px;
}

.container img:not(figure img) {
  margin-bottom: 40px;
}

.index_button {
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.download_link {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.link_img {
  display: block;
  background-image: url("../img/download.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
}

.blue_box {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100% !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  color: white !important;
  background-color: #3f2aff;
}

.bg_img_books {
  background-image: url("../img/decorate-1.png");
}

.bg_img_snowflake {
  background-image: url("../img/decorate-2.png");
}

::marker {
  color: #3f2aff;
}

.list_box {
  /*display: inline-block;*/
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0;
}

.module_box {
  display: inline-block;
  box-sizing: border-box;
  width: 572px;
  height: 505px;
  box-shadow: 0px 0px 40px 0px #0000001A;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 26px;
  position: relative;
}

.module_box:nth-child(2n) {
  margin-left: 20px;
}

.module_box ul {
  padding-top: 200px;
}

.module_box li {
  width: 100%;
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  list-style: none;
}

.show_button {
  border: 2px solid #3F2AFF;
  max-width: 274px;
  max-height: 70px;
  padding: 25px 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #3f2aff;
  background-color: white;
  display: block;
  margin: auto;
}

.blue_text_color {
  color: #3f2aff;
}

.bg_img_intro {
  background-image: url("../img/intro.jpg");
}

.bg_img_basicHTML {
  background-image: url("../img/basicHTML.jpg");
}

.bg_img_basicCSS {
  background-image: url("../img/BasicCSS.jpg");
}

.bg_img_maketWorking {
  background-image: url("../img/maketWorking.jpg");
}

.to_main {
  background-image: url("../img/Arrow\ 1.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  margin: 0;
}

.to_main a {
  margin-left: 50px;
  color: #3f2aff;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
}

.heading {
  font-size: 60px;
  font-weight: 700;
}

.heading_list {
  font-size: 40px;
  font-weight: 700;
}

.num_module {
  color: #f3f3f3;
  font-size: 40px;
  font-weight: 400;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
