body {
    margin: 0px 0px;
}

#p-title {
    margin: 0 auto;
    background-color: darkgray;
    height: 40px;
}

.header {
    float: left;
}

#name {
    width: 300px;
    padding: 0px 10px;
    font-size: 20px;
    position: relative;
    top: -10px;
}

.clear-float {
    clear: both;
}

.workspace {
    float: left;
    border: 2px solid darkgray;
    height: 95%;
}

.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.ui-checkboxradio-checked.ui-state-active {
    border: 3px solid #777777 !important;
}

.checkbox-noicon.ui-checkboxradio.ui-helper-hidden-accessible {
    border: 3px solid #777777 !important;
}